<div class="group">
  <%= f.label :menu_type_id %><%= f.error_message_on :menu_type_id %>
  <%= f.select(:menu_type_id, :options => MenuType.all.map {|m| [m.name, m.id]}, :selected => @menu.menu_type_id) %>
</div>
<div class="group">
  <%= f.label :name %><%= f.error_message_on :name %>
  <%= f.text_field :name, :class => :text_field %>
</div>
<% if !@menu.new_record? %>
<div class="group">
  <%= image_tag @menu.image.thumb.to_s %>
</div>
<% end %>
<div class="group">
  <%= f.label :image %><%= f.error_message_on :image %>
  <%= f.file_field :image, :class => :long %>
</div>
<div class="group">
  <%= f.label :price %><%= f.error_message_on :price %>
  <%= f.text_field :price, :class => :text_field %>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:menus, :index)}';return false", :class => :button %>
</div>
